@import url("https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap");

$backgroundColor: linear-gradient(
  90deg,
  rgba(119, 201, 200, 1) 6%,
  rgba(67, 177, 219, 1) 100%
);
$cardNavBgColor: #171b21;
$fontFamily: "Labrada", serif;
$textColor: white;
